<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	
    <nav>
    	<div>
    		<ul>
    			<li>Test App</li>
    			<li>Home</li>
    		</ul>
    	</div>
    	<div><h4><a href="/signin">Sign In</a></h4></div>
    </nav>
	<div id="wrapper">
	    <div>
	    	<h2>Welcome to the Test</h2>
	    	<p>We're going to build a cool application using a MVC framework! This application was built with the Village 88 folks!</p>
	    	<a href="/signin"><button>Start</button></a>
	    </div>
	    <div id="last3">
	    	<div>
	    		<h3>Manage Users</h3>
	    		<p>Using this application, you'll learn how to do add, remove, and edit users for the application.</p>
	    	</div>
	    	<div>
	    		<h3>Leave messages</h3>
	    		<p>Users will be able to leave a message to another user using this application.</p>
	    	</div>
	    	<div>
	    		<h3>Edit user information</h3>
	    		<p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
	    	</div>
	    </div>
    </div>
  </body>
</html>
